# Data types in Python Notebook

##   Chapter 4 - Data types in Python.

Basic data types :

-   integer
-   float 
-   string

advanced data types : 

-   list
-   tuple
-   dictionary

### 4.1 Integers

Numbers with out decimal places eg. -5 - 5
declaration variableName = initial value
    
e.g 
-3, -2 -1, 0, 1, 2, 3
e.g mobile numbers equals integers.

In [ ]:
age = 20
num = 12345678
print(f'Integers : age:{age}\n Mobile number:{num}')

### 4.2 Float
Numbers with decimal parts as 3.14 etc.
Declares in the same way as integers.

In [ ]:
height, weight = 1.82, 67.2
print(f'floated numbers : \n height: {height}cm\n weight: {weight}kg')

### 4.3 Strings
strings refers to  text. both single and double quotes can be used as a string. ('', "")
concatenate sign (+) can be used to combine multiple strings

Python has multiple functions to manipulate strings like 

-   **upper()** method to manipulate the string to upper all the letters in a string.
-   **lower()** method to manipulate the string to lower all the letters in a string.
-   **upper()**  method to manipulate the string to capitalize the first letter in a string.

In [ ]:
#   Initializing variables
txt = 'Hello World\n'

txt = txt.upper()
print(txt)

txt = txt.lower()
print(txt)

txt = txt.capitalize()
print(txt)

#### Formated strings

Strings can be formated using the % operator. It gives you a grater control over how you want your string to be displayed and stored. 

The syntax for using the % operator
print('text to be formated') % (var, var1, var2)

The parentheses behind the % sign is actually known as a tuple. These placeholders will be replaced with the variable *brand*, the value *1299* & the variable *exr*

`%s` formatter is used to represent a string
`%d` formatter is used to represent an integer, can add an integer between % d to represent the length
`%f` formatter is used to format floats (numbers with decimals). we formated it as `%4.2f` (length, decimalplaces)

In [ ]:
brand, exr = 'Android', 1.2345
msg = "The price of this %s phone is %d EUR and the exchange rate is %4.2f USD to 1 EUR" % (brand, 1299, exr)
print(msg)

#### Working with strings

The notation [start, [end]] means start and end are optional. If there is provided only one number, its considered as start from.

##### Comments

In [ ]:
#   A single line comment

'''
    Multi line
    comment
'''

"""
    Multiple lines
    with comments
    does not interprete in python
    unless print is used
"""

##### count(sub,[start,[end]]

Returns the number of times the substring *sub* appears in the string

In [ ]:
#   Initializing variables
txt = 'Hello World\n'

#   Count how many letter of 'l' there is in the string
print(txt.count('l'))

##### startswith(suffix, [start,[end]] / endswith(suffix, [start,[end]]

This is a boolean value and is case sensitive.

-   returns True if the string starts with the specified suffix, otherwise it returns False.<br>
-   returns True if the string ends with the specified suffix, otherwise it returns False.<br>

In [ ]:
#   Initializing variables
txt = 'Hello World\n'

#   Return a boolean value, checking if the string ends with ld
txt = 'Postman'
print(txt.startswith('Post'),txt.endswith('man'))

#   Checking from index 3
print(txt.endswith('man',3))

##### find/index(string,[start,[end]])

Returns the index in the string where the first occourence of the substring *string* is found.
They're case sensitive

-   find() returns -1 if *string* is not found.
-   index() returns ValueError if *string* is not found.

In [ ]:
txt = 'Postman'

#   Returning the index of the letter a
print(f'{txt.find("a")}\n{txt.index("a")}')

##### is alnum / isalpha()

-   Returns a boolean value, True if every character is aphanumeric
Does not include whitespaces & atleast one charcter has to be a character

-   Returns a bollean value. True if every character in the string are alphabetic, otherwise false

In [ ]:
#   Checking for white spaces
txt = 'abc123'
txt1 = '1123'
txt2 = ' '
txt3 = 'qwert'

string = txt.isalnum()
string1 = txt1.isalnum()
string2 = txt2.isalnum()
string3 = txt3.isalnum()

print(string, string1, string2, string3)

#   Checking if the characters is Alphabetic
string = txt.isalpha()
string1 = txt1.isalpha()
string2 = txt2.isalpha()
string3 = txt3.isalpha()

print(string, string1, string2, string3)

#   Checking if the string is digits
string = txt.isdigit()
string1 = txt1.isdigit()
string2 = txt2.isdigit()
string3 = txt3.isdigit()

print(string, string1, string2, string3)

##### islower() / isupper() / isspace() / isstitle()

-   Returns true if all cased characters in the string are lowercase and there is atleast one cased chartacter.

-   Returns true if all cased characters in the string are uppercase and there is atleast one cased chartacter.

-   Returns true if there is only whitespace characters in the string and there is atleast one cased chartacter.

-   Returns true if the string is titlecased string and there is atleast one chartacter.

In [ ]:
#   Checking for white spaces
txt = 'abc123'
txt1 = '1123'
txt2 = ' '
txt3 = 'qwert'

#   Checking if the string is lowercase
string = txt.islower()
string1 = txt1.islower()
string2 = txt2.islower()
string3 = txt3.islower()

print(string, string1, string2, string3)

#   Checking if the string is uppercase
string = txt.isupper()
string1 = txt1.isupper()
string2 = txt2.isupper()
string3 = txt3.isupper()

print(string, string1, string2, string3)

#   Checking if the string is uppercase
string = txt.isspace()
string1 = txt1.isspace()
string2 = txt2.isspace()
string3 = txt3.isspace()

print(string, string1, string2, string3)

#   Checking if the string is title cased
txt1 = 'This Is A Title Cased String'
string = txt.isspace()
string1 = txt1.istitle()

print(string, string1)

##### join()
Returns a string in which the argument provided is joined by a seperator

In [ ]:
#   Initializing a seperator
sep = ''

#   Initializing a tuple
a = ('a', 'b', 'c')
b = ['D', 'E', 'F']
c = 'Hello World'
print(sep.join(a), sep.join(b), sep.join(c))

##### lower() / upper() / capitalize()

-   Returns a copy of the string converted to lowercase.
-   Returns a copy of the string converted to uppercase.
-   Returns a copy of the string converted to Captilizecase

In [ ]:
# Converting text to lower, upper and capitalizeed
txt = 'Hello World\n'
print(txt.lower(), txt.upper(), txt.capitalize())

#####   Replace()
replacing old string with new string

In [ ]:
txt = 'abc123'

#   Replace'ing a character
print(txt.replace('123','def'))

##### strip()

Returns a copy of the string with the leading and trailling characters removed
if a character is not provided, whitespace will be removed, the 
*   Case-sensitve.

In [ ]:
#   Initializing variables
txt ='This is a string  '

#   Removing any trailing white spaces
txt = txt.strip()
print(txt)

##### split([sep, ,[maxsplit]])

Returns a list of the words in the string, using sep as the delimite string. sep and maxslplit are optional. if sep is not given, whitespace is used as the delimiter. if maxsplit is given, at most maxsplit splits are done.
* Case sensitive

In [ ]:
#   Initializing a variable
txt ='This is a string  '

#   Splitting a string at the white space
print(txt.split())

### 4.4 Type Casting in Python

Sometimes in the program its necessary for us to convert data types.
There is 3 built-in functions which allow us to do type casting.


Integers can be converted into a string with the builtin method **str()** 
and vice versa with the builtin method **int()** which only accepts integers
we can also convert an integer into a decimal value by using the **float()**

In [ ]:
# Initializing variables
v = 1
v = float(v)
print(f' Converting a Integer into a floated number\n{v}\n')

msg = '1'

v = int(msg)
msg = str(v)
print(f' Converting a string into a integer\n{v}\n vice versa\n{msg}\n')

### 4.5 List

List Refers to a collection of data which are normally related to eachoter. To initialize a list we assign a varialble with square brackets. We can add values inside the square brackets those values has to be seperated by a comma, can be integers, strings, methods, classes etc.  

Individual values in the list are accessible by their indexes, and indexes always starts from 0, not 1.  
You can alternative access the values of a list from the back. The last item in the list has an index of -1, the second last has an index of -2 etc. 
List can be sliced by [start:stop:step] notation
Can be accsessed using index 


Notation name[start:end] is known as slice, includes a third number known as stepper uname[start:end:Stepper]
Slices has a default value whihch is zero.

The list can be modified, by retrieve the index and assign it a value.

In [ ]:
#   Initializing a list
emptylist = []
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

listMethods = [int.bit_count, str.capitalize]

print(f'printing name list{name} & age list{age}\n')

# Accsessing data using index
x = name[0]
print(f'Printing the index\n{x}\n')


#   Slicing the list
name[1:2]

#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

#   Adding values into the list
name.append('Amy')
print(f'Appended Amy to the list\n{name}\n')

# Modify list
name[0] = 'Terry'
print(f'printing name list{name}\n')

#### Working with lists

##### extend()
Combines two lists

In [ ]:
#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

#   Extending data
name.extend(age)
print(name)

##### in

Checks if the value is in the list / tuple

In [ ]:
#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

#   Checking if Rosa is in name, print a boolean value
if 'Rosa' in name:
    print(name[1])

##### insert()

Insert a item to a list at a particular position

In [ ]:
#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

#   Inserting a new item to the list at a particular position
name.insert(0, 'Jake')
print(name[0])

##### len()
Find the number of items in a list / tuple

In [ ]:
#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']
#   Counting how many numbers there is in the list
print(name, len(name))

##### pop() / remove()

*   Get the value of an item and remove it from the list Requires index of item as the argument
*   Removes an item from the list, Requires index of item as the argument.

In [ ]:
#   Removing the item with index of 3
#   Initializing variables
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

print(f'Age : {age} \n name: {name}\n')

#   Removing the item with the index of 3
age.pop(3)

#   Output
print(age)

#   Removing the item "Jake"
name.remove('Jake')

#   Output
print(name)

##### reverse() / sort() / sorted()

*   Reverse the items in a list
*   Sort a list alphabetically or numerically
*   Returns a new sorted list without sorting the original list. Requires a list as the argument

In [ ]:
#   Initializing lists
age = [51, 53, 24, 21, 23]
name = ['Jake', 'Raymond', 'Rosa']

#   Printing the items in reverse 
print(name.reverse())
prin(age.sort())

##### Operators
concatenate it to the end of the list by using the + operator
Dublicate a list and concatenate it to the end of the list by using the * operator

In [ ]:
#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

# concanate the list
print(name + ['Jake', 'Hitchcook', 'Scully'])
print(name * 3)

##### List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [ ]:


fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if 'a' in x]
print(newlist)

##### del
Delete the entire list / tuple

In [ ]:
#   Initializing lists
age = [21, 23, 24, 51, 53]
name = ['Jake', 'Raymond', 'Rosa']

# Deleting the lists
del name, age

### 4.6 Tuples

Tuples are the same as a list, besides it can NOT be altered, when the tuple is set.
Tuple are usefull for static data, which is going to be there for the rest of the program.

The data in the tuple can be accessed through their indexes such as a regular list

In [ ]:
#    Initializing a tuple
moy = (
        "Jan", "Feb", "Mar",
        "Apr", "May", "Jun",
        "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec")

#   Print the output
print(f'{moy[0]} is a part of the tuple {moy}')

#### Working with tuples

##### in
Checks if the value is in the list / tuple

In [ ]:
#    Initializing a tuple
moy = (
        "Jan", "Feb", "Mar",
        "Apr", "May", "Jun",
        "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec")

#   Checking if Dec is in moy, print a boolean value
'Dec' in moy
print(moy)

##### len()
Find the number of items in a list / tuple / dictionary

In [ ]:
#    Initializing a tuple
moy = (
        "Jan", "Feb", "Mar",
        "Apr", "May", "Jun",
        "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec")

#   Counting how many numbers there is in the tuple
print(len(moy))

# concanate the tuple
print(moy*3)

##### Operators
Dublicate a tuple and concatenate it to the end of the list by using the * operator

In [ ]:
#    Initializing a tuple
moy = (
        "Jan", "Feb", "Mar",
        "Apr", "May", "Jun",
        "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec")

# concanate the tuple
print(moy*3)

##### del
Delete the entire list / tuple / Dictionary

In [ ]:

#    Initializing a tuple
moy = (
        "Jan", "Feb", "Mar",
        "Apr", "May", "Jun",
        "Jul", "Aug", "Sep",
        "Oct", "Nov", "Dec")

#   Deleting the tuple
del moy

### 4.7 Dictonary

A collection of related data PAIRS

- variableName = {key:data} / dict(key:data)
- keys are required to accsess the information, keys can be strings or integers.


-  Set same as dicitonary besides the key, and they're not ordered.<br>
To access the dictinary data we use the key, which is the first value in the dictionary

- adding values to a dictonary dictName['key'] = value
removing values from a dictonary del dictName[key]

In [ ]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

#   Accessing a dictionary
print(f'Accessing the dictionary using the key "Peter"\n {dictionary["Peter"]}\n')

#   Modifying the dictionary

dictionary["Peter"]= 25
print(f'Accessing the dictionary using the key "Peter"\n {dictionary["Peter"]}\n')

#### Working with Dictionaries

##### clear()
Removing the elements of the dictionary and return an empty dictionary.

##### in
Checks if the value is in the list / tuple

##### len()
Find the number of items in a list / tuple / dictionary

##### Operators
Dublicate a tuple and concatenate it to the end of the list by using the * operator

##### get()

Return a value for the given key.
If not found, it returns none.

In [ ]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

# Retrieves the value of the given key
print(f'Dictionary Data:\n{dictionary.get("key")}\n')

##### keys()
Returns a list with the keys

In [2]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  
                'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

#   Retrieves the keys from dictionary
print(f'Dictionary Keys:\n{dictionary.keys()}\n')

Dictionary Keys:
dict_keys(['Peter', 'Mia', 'Alvin', 'key', 0])

##### update()

Adds one dictionary's key-values pairs to another duplicates are removed.

In [ ]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  
                'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

# updating dictionary
dictionary.update(dictionary2)
print(f'Updated Dictionary:\n{dictionary}\n')

##### values()

Returns a list opf the dictionary's values

In [ ]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  
                'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

#   Printing the values of dictionary
print(f'Dictionary Key values:\n{dictionary.values()}\n')

##### items()
Returns a list of dictionary's pairs as tuples

In [1]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

#   Printing the dictionary items.
print(f'Dictionary items:\n{dictionary.items()}\n')

Dictionary items:
dict_items([('Peter', 31), ('Mia', 22), ('Alvin', 'Data Not available'), ('key', 'Data'), (0, 1)])

##### sorted()

Sorting dictionaries

##### del
Delete the entire list / tuple / Dictionary

In [ ]:
#   Declare a dictionary and assign value to it
dictionary = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1}

dictionary2 = {  'Peter':31,
                'Mia':22,
                'Alvin':'Data Not available',
                'key':'Data',
                0:1,
                1:2}

#   Deleting a dictionary
#   Removing a key from the dictionary
del dictionary['Peter']
print(f'Deleted a key in the dictionary:\n{dictionary}')

del dictionary, dictionary2